<%# the "badges" for resources, records, etc.  Expects one local: type[ of badge]. @sublist_action, @counts, and @result carry through %>

<li class="large-badge align-center <%= type %>">
  <form id="coll_sub" action="<%= app_prefix(@sublist_action) %><%= type %>s" method="get">
    <button type="submit" class="btn btn-default <%= type %>" <%= @counts[type] == 0 ? 'disabled="disabled"' : '' %>  >
     <% case type %>
     <% when 'resource' %>
     <i class="yc yc-collection yc-4x"></i>
     <% when 'record' %>
      <i class="fa fa-file-o fa-4x"></i>
     <% when 'digital_object' %>
      <input type="hidden" name="limit" value="digital_object" />
      <i class="fa fa-th fa-4x"></i>
     <% when 'accession' %>
     <span class="fa-stack fa-2x">
        <i class="fa fa-file fa-stack-2x"></i>
        <i class="fa fa-wrench fa-inverse fa-stack-1x fa-flip-horizontal"></i>
      </span>
     <% when 'subject' %>
      <i class="fa fa-tags fa-4x"></i>
     <% when 'agent' %>
     <i class="fa fa-id-card fa-4x"></i>
    <% when 'classification' %>
    <i class="fa fa-sitemap fa-4x"></i>
    <% end %>
    <br />
    <% if AppConfig[:pui_repos].dig(@result['repo_code'].downcase, :hide, :counts).nil? ?  AppConfig[:pui_hide][:counts] :  AppConfig[:pui_repos][@result['repo_code'].downcase][:hide][:counts] %>
      <%= t("#{type}._plural") %>
    <% else %>
      <%= @counts[type] %> <%= (@counts['type'] != 1 ? t("#{type}._plural") : t("#{type}._singular")) %>
    <% end %>
     </button>
  </form>
</li>